version: "3.9"

services:
  sos360api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - sos360db
    volumes:
      - .:/app
      - /app/node_modules
    command: yarn start:prod

  sos360db:
    image: postgres:15
    ports:
      - "5432:5432"
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
